<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vital</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Vital.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-1 py-1">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="\images\vital.png" alt="" width="30" height="24"
                        class="d-inline-block align-text-top" id="nav-img">
                </a>
                <a class="navbar-brand text-info" asp-area="" asp-controller="Home" asp-action="Index">Vital</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home"
                                asp-action="OwnerDashboard">Dashboard</a>
                        </li>
                        
                    </ul>
                    @if(Context.Session.GetInt32("owner") != null){
                        <div class="nav-item d-flex">
                            <a class="nav-link" asp-area="" asp-controller="Home"
                                asp-action="OwnerDashboard"><img src="\images\user-icon.jpg" alt="#" id="nav-img">
                            </a>
                        </div>
                    } else if(Context.Session.GetInt32("user") != null) {
                        <div class="nav-item d-flex">
                            <a class="nav-link" asp-area="" asp-controller="Home"
                                asp-action="UserDashboard"><img src="\images\user-icon.jpg" alt="#" id="nav-img">
                            </a>
                        </div>
                    } else {
                        <div class="nav-item d-flex">
                            <a class="nav-link" asp-area="" asp-controller="Home"
                                asp-action="Index"><img src="\images\user-icon.jpg" alt="#" id="nav-img">
                            </a>
                        </div>
                    }
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Vital - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
