@model LogUser

<form action="/user/login" method="post">
    <div>
        <label for="LogEmail">Email</label>
        <input asp-for="LogEmail">
        <span asp-validation-for="LogEmail"></span>
    </div>
    <div>
        <label for="LogPassword">Password</label>
        <input asp-for="LogPassword">
        <span asp-validation-for="LogPassword"></span>
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>