@model LogUser

<form action="/user/login" method="post" class="fs-5">
    <div>
        <label for="LogEmail">Email</label>
        <input asp-for="LogEmail" class="form-control mb-2">
        <span asp-validation-for="LogEmail" class="text-danger"></span>
    </div>
    <div>
        <label for="LogPassword">Password</label>
        <input asp-for="LogPassword" class="form-control mb-2">
        <span asp-validation-for="LogPassword" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Login" class="btn btn-info">
    </div>
</form>