@model User

<form action="/user/register" method="post">
    <div>
        <label for="FirstName">First Name</label>
        <input asp-for="FirstName">
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label for="LastName">Last Name</label>
        <input asp-for="LastName">
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label for="Username">Username</label>
        <input asp-for="Username">
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label for="Email">Email</label>
        <input asp-for="Email">
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label for="Password">Password</label>
        <input asp-for="Password">
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <input type="submit" value="Register">
    </div>
</form>