@{
    ViewData["Title"] = "Welcome Page";
}

<div>
    <h1>Welcome To Vital</h1>
    <h3>Are you a Gym Goer?</h3>
    <a href="/home">Click Here Explore Gyms</a>
    <a href="/user/loginreg">Click Here to Login or Create Your Account</a>
    <h3>Or</h3>
    <h3>Are you a Gym Owner?</h3>
    <a href="/owner/loginreg">Click Here to Build Your Gym Account</a>
</div>
