@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1>Welcome To Vital</h1>
    <h3>Are you a Gym Goer?</h3>
    <a href="/home" class="btn btn-info">Click Here Explore Gyms</a>
    <a href="/user/loginreg" class="btn btn-info">Click Here to Login or Create Your Account</a>
    <h3>Or</h3>
    <h3>Are you a Gym Owner?</h3>
    <a href="/owner/loginreg" class="btn btn-info">Click Here to Login or Build Your Gym Account</a>
</div>
