@{
    ViewData["Title"] = "Welcome Page";
}

<div>
    <h1>Welcome To Vital</h1>
    <h3>Are you a Gym Goer?</h3>
    <a href="">Click Here Explore Gyms</a>
    <h3>Or</h3>
    <h3>Are you a Gym Owner?</h3>
    <a href="">Click Here to Build Your Gym Account</a>
</div>
