@{
    ViewData["Title"] = "Owner LoginReg Page";
}

<div class="text-center">
<h2>Create Your Vital Owner Account</h2>
    <div class="row">
        <div class="col">
            <h2>Register</h2>
            <partial name="_RegisterOwner"/>
        </div>
        <div class="col">
            <h2>Login</h2>
            <partial name="_LoginOwner"/>
        </div>
    </div>
</div>
