@{
    ViewData["Title"] = "User LoginReg Page";
}

<div class="text-center">
<h2>Create Your Vital Account</h2>
    <div class="row">
        <div class="col">
            <h2>Register</h2>
            <partial name="_RegisterUser"/>
        </div>
        <div class="col">
            <h2>Login</h2>
            <partial name="_LoginUser"/>
        </div>
    </div>
</div>
