@{
    ViewData["Title"] = "User LoginReg Page";
}

<div>
<h2>Create Your Vital Account</h2>
    <div>
        <div>
            <h2>Register</h2>
            <partial name="_RegisterUser"/>
        </div>
        <div>
            <h2>Login</h2>
            <partial name="_LoginUser"/>
        </div>
    </div>
</div>
